DATABASE_URL="postgresql://user:password@localhost:5432/attendance_db?schema=public"
JWT_SECRET="your-super-secret-jwt-key-never-change-in-dev-12345678"
JWT_REFRESH_SECRET="your-refresh-secret-key-never-change-87654321"
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"
FACE_SERVICE_URL="http://localhost:8001"
PORT=8000
